@import '/node_modules/normalize.css/normalize.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: rgb(41, 41, 41);
}

button {
    padding: 10px;
}