<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RxJS Playground</title>
    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.files.chunks.main.css %>"
    />
  </head>
  <body>
    <button id="btn1">Btn 1</button>
    <button id="btn2">Btn 2</button>
    <button id="btn3">Btn 3</button>
    <button id="btn4">Btn 4</button>
    <button id="btn5">Btn 5</button>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
